<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Technical Blogpost</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>

      {{#if logged_in}}
        <a href="/logout">Log out</a>
      {{else}}
        <a href="/login">Sign-in</a>
        <a href="/signup">Sign Up</a>

      {{/if}}

      {{#if logged_out}}
        <a href="/login">Sign-in</a>
        <a href="/signup">Sign Up</a>
      {{/if}}

    </nav>
    <main>
      {{{body}}}

    </main>

  </body>
  <script src="../js/logout.js"></script>
</html>