<!--has to have form for username/email and password and login button-->
<div class="newblog-card">
<h2 class="page-title">Add a new blog post</h2>

<form class="form addblog-form">
    <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title"/>
    </div>

    <div class="form-group">
        <label for="blog-text">Blog text</label>
        <input class="form-input" type="text" id="blog-text" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit post</button>
    </div>
</div>


    </form>

</div>
</form>



<script src="/js/addblog.js"></script>
