<!--has to have Tech blog header and all the boxes for blog text boxes and text area-->
<section id="blogcontainer">
<div class="blog-container">
<button class="add-post"><a href="/addblog">Add a post</a></button>
{{#each user.blogs as |post| }}

<h1>{{post.title}}   {{post.user.user_name}}   {{post.date_created}}</h1>
<button class="edit-post">Edit</button>
<button class="delete-post">Delete post</button>
<p>{{post.content}}</p>
{{/each}}


</div>
</section>