<!--has to have Tech blog header and all the boxes for blog text boxes and text area-->
<div id="container">
    <div class="blog-title">
        <h2>{{{get_blogtitle}}} {{{blog.title}}}</h2>
    </div>
    <div id="blog-text">
        <h3>{{{get_blogtext}}} {{{blog.text}}}</h3>
    </div>
</div>