<div class="newblog-card">
<h2 class="page-title">Edit blog post</h2>

<form class="form editblog-form">
    <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title" value="{{post.title}}"/>
    </div>
 <input type="hidden" value="{{post.id}}" id="blog-id"/>
    <div class="form-group">
        <label for="blog-text">Blog Content</label>
        <input class="form-input" type="text" id="blog-text" value="{{post.content}}"/>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Edit post</button>
    </div>
</div>


    </form>

</div>
</form>



<script src="/js/editblog.js"></script>