<!--has to have navbar displaying home button, dashboard button -->

<section id="blogcontainer">
<div class="blog-container">
{{#each blogposts as |post| }}

<h1>{{post.title}}   {{post.user.user_name}}   {{post.date_created}}</h1>
<p>{{post.content}}</p>
{{/each}}
</div>
</section>
